GLOBAL STYLES 
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #110b0b;
}
:root {
  --color1: #202938;
  --color2: #224342;
  --color3: #255d4c;
  --color4: #277655;
  --color4: #29905f;
  --color6: #2ba968;
  --color7: #f7f3f3;
}
/* STYLES FOR THE NAVBAR  */

#mainNav {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color2);
  background-color: var(--color1);
  position: relative;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: var(--color7);
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out,
      padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out,
      padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out,
      padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color2);
    background: var(--color1);
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: var(--color2);
  }

  #mainNav .nav-link.active:hover {
    color: white;
  }
}

/* STYLES FOR THE HEADER SECTION.  */
.masthead {
  display: table;
  min-width: 1000px;
  height: 100vh;
  text-align: center;
  color: white;
  background-color: var(--color1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 50px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}
.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}


/* STYLES FOR THE BANNER */
.banner{
  background-color: #ffffff;
  color: white;
  padding: 1.5rem 0;
}
.banner  h3{
  color: var(--color1);
}
.banner h2{
  color: var(--color1);
}
.banner p{
  color: var(--color1)
}